/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Page-wide styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

/* Mobile container utility class */
.mq-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
  border: solid red 1px;
}

h2 {
  padding: 10px 0;
}

/* Header */
header {
  display: flex;
  padding: 1rem 1rem .5rem 1rem;
  /* margin-top: .5rem; */
  /* width: 100%; */
  position: fixed;
  /* bottom: 10%; */
  z-index: 100;
  align-items: baseline;
  justify-content: space-between;
  align-self: center;
  color: black;
  background-color: white;
}

#logo-container {
  display: flex;
  justify-content: space-between;
}

#logo-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: .5rem;
}

#menu {
  list-style-type: none;
  font-size: 115%;
}

#menu>li {
  margin-bottom: 1rem;
  margin-right: 0;
  text-align: right;
  padding-right: 0.5rem;
}

.active {
  background: url(assets/images/brushstroke_small.png) no-repeat center center/cover;
  background-size: 100px;
  background-position: right;
  /* overflow: visible; */
  color: white;
}

/* Dropdown Navbar */
nav {
  position: absolute;
  background-color: white;
  width: 50%;
  max-width: 250px;
  right: 0;
  padding: 1rem 1rem 0 1rem;
  display: none;
  top: 100%;
  /* Undecided about box shadaw as of yet */
  /* box-shadow: 0 3px 3px gray; */
}

#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  margin-right: 1rem;
  font-size: 1.5rem;
  align-self: center;
} 

a {
  text-decoration: none;
  color: inherit;
}

/* Main Content Styles */
main {
  /* flex properties x3 keep footer at bottom */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

#banner {
  background: url(assets/images/background-hero.jpg) no-repeat center center/cover;
  /* filter: brightness(250%) contrast(100%); */
  height: 40vh;
  width: 100%;
  position: relative;
  display: flex;
  /* margin-top: 54px; added to #spacer class*/
  /* margin-top: 20px; */
  /* justify-content: flex-end; */
}

.overlay {
  /* background: url(assets/images/overlay.jpg)no-repeat center center/cover; */
  background-color: rgba(0, 0, 0, .4);
  /* filter: opacity(.4); */
  width: 100%;
  height: 100%;
}

#tear-effect {
  background: url(assets/images/tear-effect.png) no-repeat center center/cover;
  z-index: 9;
  height: 20px;
  width: 100%;
  position: relative;
  bottom: 19px;
}

#banner-text {
  text-align: center;
  width: 75%;
  padding-top: 15px;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  filter: drop-shadow(16px 16px 20px #2a7906);
}

/* Class to push content below header */
.spacer {
  margin-top: 62px;
}

#about,
#why-stay,
#activities,
footer {
  margin-top: 20px;
  /* background-color: tan; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 1rem;
}

#about-img {
  width: 90%;
  height: 100px;
  background: url(assets/images/kieran-sheehan-tKIw44Q2Zro-unsplash.jpg) no-repeat center center/cover;
  margin-bottom: 10px;
}

#why-stay-img {
  width: 90%;
  height: 100px;
  background: url(https://placehold.co/400x200/blue/white?text=luxury+interior+of+tent) no-repeat center;
  margin-bottom: 10px;
}

#activities-img {
  width: 90%;
  height: 100px;
  background: url(https://placehold.co/400x200/blue/white?text=luxury+interior+of+tent) no-repeat center;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

/* Glamping Styles */
.card {
  border: solid black 1px;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.card img {
  border-radius: 5px;
  width: 100%;
  align-self: flex-start;
  /* flex: 1; */
}

.accom-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  letter-spacing: .5rem;
  font-size: 1.5rem;
}

.accom-info button {
  margin-left: auto;
  margin-right: 0;
}

/* .card h2 {
  align-self: flex-end;
}

.card p {
  align-self: center;
} */

/* Footer Styles */
footer {

}

footer ul {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 150%;
}

/* Media Queries */
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    /* border: solid blue 1px; */
  }
}

/* sm */
@media (min-width: 640px) {
  .mq-container {
    max-width: 640px;
    /* border: solid black 1px; */
  }
}

/* md */
@media (min-width: 768px) {
  .mq-container {
    max-width: 768px;
  }

  .spacer {
    margin-top: 75px;
  }

  #banner,
  .overlay {
    /* background-position: bottom; */
  }

  header {
    padding-right: 1rem;
  }

  nav {
    display: block;
    position: relative;
    width: fit-content;
    max-width: 300px;

  }

  .nav-toggle-label {
    display: none;
  }

  #menu {
    display: flex;
    align-content: end;
  }

  #menu li {
    font-size: 1rem;
    padding-left: 1.5rem;
  }

  .active {
    background: url(assets/images/brushstroke_small.png) no-repeat center center/cover;
    background-size: 100% 19px;
    background-position: center;
  }
}

/* lg */
@media (min-width: 1024px) {
  .mq-container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .mq-container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .mq-container {
    max-width: 1536px;
  }
}