/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Page-wide styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #f2f7f7;
}

/* Mobile container utility class */
.mq-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: solid red 1px; */
}

h2 {
  padding: 10px 0;
}

/* Header */
header {
  display: flex;
  padding: .5rem 1rem;
  margin-top: .5rem;
  /* width: 100%; */
  position: fixed;
  /* bottom: 10%; */
  z-index: 100;
  align-items: baseline;
  justify-content: space-between;
  align-self: center;
  color: black;
}

#logo-container {
  display: flex;
  justify-content: space-between;
}

#logo-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: .5rem;
}

#menu {
  list-style-type: none;
  font-size: 115%;
}

#menu>li {
  margin-bottom: 1rem;
  margin-right: 0;
  text-align: right;
  padding-right: 0.5rem;
}

.active {
  background: url(assets/images/brushstroke_small.png) no-repeat center center/cover;
  background-size: 100px;
  background-position: right;
  /* overflow: visible; */
  color: white;
}

/* Dropdown Navbar */
nav {
  position: absolute;
  background-color: white;
  width: 50%;
  max-width: 250px;
  right: 0;
  padding: 1rem 1rem 0 1rem;
  display: none;
  top: 100%;
  /* Undecided about box shadaw as of yet */
  /* box-shadow: 0 3px 3px gray; */
}

#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  margin-right: 1rem;
  font-size: 1.5rem;
  align-self: center;
} 

a {
  text-decoration: none;
  color: inherit;
}

/* Main Content Styles */
main {
  /* flex properties x3 keep footer at bottom */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

#banner {
  background: url(assets/images/pexels-blooddrainer-213172.jpg) no-repeat center center/cover;
  /* filter: brightness(250%) contrast(100%); */
  height: 40vh;
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 74px;
  /* margin-top: 20px; */
  /* justify-content: flex-end; */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  border: solid green 1px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  width: 100%;
  height: 100%;
}

#banner-text {
  text-align: center;
  width: 75%;
  padding-top: 15px;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom: -20px;
  left: 15px; */
}

#about,
#why-stay,
footer {
  margin-top: 20px;
  background-color: tan;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-img {
  width: 90vw;
  height: 100px;
  background: url(https://placehold.co/400x200/red/white?text=sunny+meadow+with+tents) no-repeat center;
  margin-bottom: 10px;
}

#why-stay-img {
  width: 90vw;
  height: 100px;
  background: url(https://placehold.co/400x200/blue/white?text=luxury+interior+of+tent) no-repeat center;
  margin-bottom: 10px;
}

/* Footer Styles */
footer {}

footer ul {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 150%;
}

/* Media Queries */
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    /* border: solid blue 1px; */
  }
}

/* sm */
@media (min-width: 640px) {
  .mq-container {
    max-width: 640px;
    /* border: solid black 1px; */
  }
}

/* md */
@media (min-width: 768px) {
  .mq-container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .mq-container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .mq-container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .mq-container {
    max-width: 1536px;
  }
}